@model IEnumerable<AgencyLibrary.Models.Travel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.briefcase_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originCity_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrivalCity_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.briefcase_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originCity_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrivalCity_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
